name: Hello world

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Who should I greet?"
        required: true
        default: "World"
  push:
    branches: [main]

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Greetings
        run: echo "Hello ${{ github.event.inputs.name }}!"
